<% if(blog) {%>
    <div class="mb-3">
        <label for="title" class="form-label">Blog title:</label>
        <input type="text" id="title" value="<%= blog.title %>" name='title' class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="snippet" class="form-label">Blog snippet:</label>
        <input type="text" id="snippet" value="<%= blog.snippet %>" name='snippet' class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Blog body:</label>
        <textarea type="text" id="body" name='body' class="form-control" required><%= blog.body %></textarea>
    </div>
    <div class="mb-3  mx-auto">
        <div class="row">
            <div class="col">
                <button type="submit" class="w-100 btn bg-warning-subtle btn-lg">Update User</button>
            </div>
            <div class="col">
                <a href="/" class="w-100 btn btn-danger btn-lg">Cancel</a> 
            </div>
        </div>
    </div>

<% } else { %>

    <div class="mb-3">
        <label for="title" class="form-label">Blog title:</label>
        <input type="text" id="title" name='title' class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="snippet" class="form-label">Blog snippet:</label>
        <input type="text" id="snippet" name='snippet' class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Blog body:</label>
        <textarea type="text" id="body" name='body' class="form-control" required></textarea>
    </div>
    <div class="mb-3 mx-auto">
        <div class="row">
            <div class="col">
                <button type="submit" class="w-100 btn btn-info btn-lg">Submit</button>
            </div>
            <div class="col">
                <a href="/" class="w-100 btn btn-danger btn-lg">Cancel</a> 
            </div>
        </div>
    </div>
<% } %>