<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="container">
        <div class="row m-4">
            <div class="col">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis deserunt vitae perspiciatis natus!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil harum non corporis eligendi.</p>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 
</body>
</html>